nav li {
    text-align: center;
    display: block;
    float: left;
    padding: 1% 5%;
}
nav li a {
    color: white;
    text-decoration: none;
}
nav ul {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: black;

}
article {
    margin: 0 auto;
    text-align: center;
    padding: 1%;    
}
article h1 {
    font-size: 4vw;
}
article p {
    display: inline-block;
    width: 80%;
}