body {
    background-color: darkgray;
}
nav li {
    text-align: center;
    display: block;
    float: left;
    padding: 1% 5%;
}
nav li a {
    color: white;
    text-decoration: none;
}
nav ul {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: black;
    width: 100%;

}
section img {
    position: relative;
    width: 100%;
    
}
article h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 5vw;
}
article h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5vw;
    font-weight: lighter;
}
article p {
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}
article ul {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
    list-style-type: none;

}
article q {
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}