nav li {
    text-align: center;
    display: block;
    float: left;
    padding: 1% 5%;
}
nav a {
    color: white;
    text-decoration: none;
}
nav ul {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: black;

}

.bilder{
    margin: 10px;
}

#gridski{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    padding: 10px;
}

img{
    padding: 5px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.tekstbilder {
    float: left;
}

a{
    color: darkgreen;
    text-decoration: none;
}


@media screen and (max-width:1100px) {
    body {
      background-color:darkgrey;

    }
    #gridski{
        grid-template-columns: 1fr;
    }
     }